<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- TYPY PŁATNOŚCI !-->
    <bean id="platnosc_gotowka" class="Core.Typy_platnosci" factory-method="valueOf">
        <constructor-arg value="GOTOWKA"/>
    </bean>
    <bean id="platnosc_karta" class="Core.Typy_platnosci" factory-method="valueOf">
        <constructor-arg value="KARTA"/>
    </bean>

    <!-- KLIENCI !-->
    <bean id="klient1" class="Core.Klienci">
        <constructor-arg value="Marcin"/>
        <constructor-arg value="Banaśkiewicz"/>
        <constructor-arg value="Prawilna Praga 6"/>
        <constructor-arg value="666777554"/>
        <constructor-arg value="haselko"/>
    </bean>


    <bean id="klient2" class="Core.Klienci">
        <constructor-arg value="Marta"/>
        <constructor-arg value="Bobek"/>
        <constructor-arg value="Prawilna Północ 6"/>
        <constructor-arg value="666727454"/>
        <constructor-arg value="haslo666"/>
    </bean>

    <!--PŁATNOŚCI-->

<!--    <bean id="pl1" class="Core.Platnosci">
        <constructor-arg ref="platnosc_gotowka"/>
        <constructor-arg ref="rez1"/>
    </bean>

    <bean id="pl2" class="Core.Platnosci">
        <constructor-arg ref="platnosc_karta"/>
        <constructor-arg ref="rez2"/>
    </bean>

    <bean id="pl3" class="Core.Platnosci">
        <constructor-arg ref="platnosc_karta"/>
        <constructor-arg ref="rez3"/>
    </bean>-->

    <!--&lt;!&ndash; REZERWACJA !&ndash;&gt;
    <bean id="rez1" class="Core.Rezerwacje">
        <constructor-arg value="1521125646135"/>
        <constructor-arg value="1523128646135"/>
        <constructor-arg ref="klient1"/>
        <property name="pokoje">
            <list>
                <ref bean="Pokoj1"/>
            </list>
        </property>
        <property name="platnosci">
            <ref bean="platnosc_karta"/>
            <ref parent="rez1"/>
        </property>
    </bean>
    <bean id="rez2" class="Core.Rezerwacje">
        <constructor-arg value="1521125646135"/>
        <constructor-arg value="1523128646135"/>
        <constructor-arg ref="klient1"/>
        <property name="pokoje">
            <list>
                <ref bean="Pokoj2"/>
            </list>
        </property>
        <property name="platnosci">
            <ref bean="pl2"/>
        </property>
    </bean>

    <bean id="rez3" class="Core.Rezerwacje">
        <constructor-arg value="1521125646135"/>
        <constructor-arg value="1523128646135"/>
        <constructor-arg ref="klient2"/>
        <property name="pokoje">
            <list>
                <ref bean="Pokoj3"/>
            </list>
        </property>
        <property name="platnosci">
            <ref bean="pl3"/>
        </property>
    </bean>-->

    <!-- PRACOWNICY !-->
    <bean id="pracownik1" class="Core.Pracownicy">
        <constructor-arg value="Jan"/>
        <constructor-arg value="Kowalski"/>
        <constructor-arg value="Haslo1"/>
    </bean>
    <bean id="pracownik2" class="Core.Pracownicy">
        <constructor-arg value="Ada"/>
        <constructor-arg value="Górska"/>
        <constructor-arg value="Haslo2"/>
    </bean>
    <bean id="pracownik3" class="Core.Pracownicy">
        <constructor-arg value="Wojtek"/>
        <constructor-arg value="Zółciński"/>
        <constructor-arg value="Haslo3"/>
    </bean>
    <bean id="pracownik4" class="Core.Pracownicy">
        <constructor-arg value="Stanisław"/>
        <constructor-arg value="Jajeczny"/>
        <constructor-arg value="Haslo4"/>
    </bean>
    <bean id="pracownik5" class="Core.Pracownicy">
        <constructor-arg value="Janina"/>
        <constructor-arg value="Rosoł"/>
        <constructor-arg value="Haslo5"/>
    </bean>

    <!-- UDOGODNIENIA !-->
    <bean id="sauna" class="Core.Udogodnienia" factory-method="valueOf">
        <constructor-arg value="SAUNA"/>
    </bean>
    <bean id="basen" class="Core.Udogodnienia" factory-method="valueOf">
        <constructor-arg value="BASEN"/>
    </bean>
    <bean id="spa" class="Core.Udogodnienia" factory-method="valueOf">
        <constructor-arg value="SPA"/>
    </bean>
    <bean id="tv" class="Core.Udogodnienia" factory-method="valueOf">
        <constructor-arg value="TV"/>
    </bean>
    <bean id="prywatneWC" class="Core.Udogodnienia" factory-method="valueOf">
        <constructor-arg value="PRYWATNE_WC"/>
    </bean>
    <bean id="wspolneWC" class="Core.Udogodnienia" factory-method="valueOf">
        <constructor-arg value="WSPOLNE_WC"/>
    </bean>

    <!-- POKOJE !-->
    <bean id="Pokoj1" class="Core.PokojeHotelowe" >
        <constructor-arg value="4"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="spa"/>
                <ref bean="tv"/>
                <ref bean="prywatneWC"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj2" class="Core.PokojeHotelowe" >
        <constructor-arg value="3"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="spa"/>
                <ref bean="tv"/>
                <ref bean="prywatneWC"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj3" class="Core.PokojeHotelowe" >
        <constructor-arg value="2"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="wspolneWC"/>
                <ref bean="tv"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj4" class="Core.PokojeHotelowe" >
        <constructor-arg value="2"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="basen"/>
                <ref bean="sauna"/>
                <ref bean="prywatneWC"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj5" class="Core.PokojeHotelowe" >
        <constructor-arg value="1"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="basen"/>
                <ref bean="sauna"/>
                <ref bean="prywatneWC"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj6" class="Core.PokojeHotelowe" >
        <constructor-arg value="1"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="basen"/>
                <ref bean="sauna"/>
                <ref bean="prywatneWC"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj7" class="Core.PokojeHotelowe" >
        <constructor-arg value="2"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="wspolneWC"/>
                <ref bean="tv"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj8" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj9" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj10" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj11" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj12" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj13" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj14" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean><bean id="Pokoj15" class="Core.PokojeHotelowe" >
    <constructor-arg value="2"/>
    <property name="udogodnienia" >
        <list>
            <ref bean="wspolneWC"/>
            <ref bean="tv"/>
        </list>
    </property>
</bean>
<bean id="Pokoj16" class="Core.PokojeHotelowe" >
<constructor-arg value="1"/>
<property name="udogodnienia" >
    <list>
        <ref bean="prywatneWC"/>
        <ref bean="tv"/>
    </list>
</property>
</bean>
    <bean id="Pokoj17" class="Core.PokojeHotelowe" >
        <constructor-arg value="1"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="prywatneWC"/>
                <ref bean="tv"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj18" class="Core.PokojeHotelowe" >
        <constructor-arg value="1"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="prywatneWC"/>
                <ref bean="tv"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj19" class="Core.PokojeHotelowe" >
        <constructor-arg value="1"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="prywatneWC"/>
                <ref bean="tv"/>
            </list>
        </property>
    </bean>
    <bean id="Pokoj20" class="Core.PokojeHotelowe" >
        <constructor-arg value="1"/>
        <property name="udogodnienia" >
            <list>
                <ref bean="prywatneWC"/>
                <ref bean="tv"/>
            </list>
        </property>
    </bean>

</beans>